@font-face {
    font-family: 'Marianne';
    src: url('https://apolsn.pixelserver.fr/font/Marianne/fontes-web/Marianne-Regular.woff2') format('woff2'),
    url('https://apolsn.pixelserver.fr/font/Marianne/fontes-web/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marianne';
    src: url('https://apolsn.pixelserver.fr/font/Marianne/fontes-web/Marianne-Regular.woff2') format('woff2'),
    url('https://apolsn.pixelserver.fr/font/Marianne/fontes-web/Marianne-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    color: white;
    background: linear-gradient(to bottom, black, #471396) fixed;
    background-size: cover;
    font-family: Marianne, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20% 22% 0 22%;
}

.presentation {
    text-align: center;
}

.span-box {
    display: block;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(43, 26, 73, 0.27);
    text-align: center;
    width: 50%;
    margin: 10% auto;
    backdrop-filter: drop-shadow(0 0 1rem white);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.card {
    width: 350px;
    background: #2c1a4a;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.banner {
    width: 100%;
    height: 150px;
    background: url('https://api.konect.gg/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN0pDS0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--79f46769ad00dc2de1c5094a81d0239f22314083/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKZDJWaWNBWTZCa1ZVT2hSeVpYTnBlbVZmZEc5ZmJHbHRhWFJiQjJrQzNBVnBBdlFCIiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--219e35b007df06628066decd02be3d17f99b3054/28d020861068b4f2e7574d878b03971b.png') center/cover;
}
.avatar-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
}
.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
}
.content {
    margin-top: 30px;
    padding: 20px;
}
.name {
    font-size: 22px;
    font-weight: bold;
}
.country {
    margin: 5px 0;
    font-size: 14px;
    opacity: 0.8;
}
.description {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.9;
}